.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.7rem 0;
    -webkit-box-shadow: 6px 6px 15px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 15px 1px rgba(0, 0, 0, 0.5);
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.navbar .branding {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navbar .branding .brandingImg img {
    width: 50px;
    height: 50px;
}


.navbar .navigation ul {
    display: flex;
    gap: 2rem;
}

.navbar .navigation a {
    color: white;
    text-decoration: none;
    transition: 500ms all;
}

.navbar .navigation a:hover {
    color: var(--primaryColor);
}

.navbar .toggleNavIcon {
    font-size: 1.2rem;
    transition: 500ms all;
    cursor: pointer;
    display: none;
}

.navbar .toggleNavIcon:hover {
    color: var(--primaryColor);
}


.navbar .navIcons {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

.navbar .navIcons a {
    color: white;
    transition: 500ms all;
}

.navbar .navIcons a:hover {
    color: var(--primaryColor);

}

.navbar .cartCount {
    margin-left: 0.2rem;
    font-size: 1rem;
}

.navbar .navIcons .cartIcon,
.navbar .navIcons .userIcon {
    cursor: pointer;
    transition: 500ms all;
}

.navbar .navIcons .cartIcon:hover,
.navbar .navIcons .userIcon span:hover {
    color: var(--primaryColor);
}

.navbar .navIcons .userIcon .userMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    width: 150px;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 1.3rem;
    right: 6%;
}

.navbar .navIcons .userIcon .userMenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    width: 150px;
}

.navbar .navIcons .userIcon .userMenu ul li {
    transition: all 500ms;
    width: 150px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar .navIcons .userIcon .userMenu ul li:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.navbar .smallScreenNavigation {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar .navigation {
        display: none;
    }

    .navbar .toggleNavIcon {
        display: block;
    }

    .navbar .smallScreenNavigation {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    .navbar .smallScreenNavigation ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 1rem;
    }

    .navbar .smallScreenNavigation a {
        color: white;
        text-decoration: none;
        transition: 500ms all;
    }

    .navbar .smallScreenNavigation a:hover {
        color: var(--primaryColor);
    }
}

@media screen and (max-width: 450px) {

    .navbar .branding .brandingImg img {
        width: 40px;
        height: 40px;
    }

    .navbar .branding h2 {
        font-size: 1.3rem;
    }

    .navbar .navIcons {
        display: flex;
        gap: 2rem;
        font-size: 1.2rem;
        gap: 1rem;
    }
}